@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

$ff :'Poppins', sans-serif;
$logoColor : #f8184c;
$bgColor :#0a192f;
$softBgColor : #131C31;
$pColor : #a9b8d1;
$hColor : #fff;
$borderColor: #222F43;
$primaryColor:#0099ff;
@mixin flex($jc : center ,$ai: center)
{
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}