@import './_variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.ReactApp{
    overflow-x: hidden;
}
.loader-container {
    width: 100vw;
    height: 100vh;
    @include flex();
    background-color: #0a192f;
    .writing-animation {
        font-size: 4rem;
        font-weight: bold;
        color: #f8184c;
        overflow: hidden;
        white-space: nowrap;
        font-family: $ff;
        border: 4px solid #f8184c;
        padding: 0 10px;
        span {
            opacity: 0;
            &.visible {
                animation: write 1s forwards;
            }
        }
    }
}

@keyframes write {
    to {
        opacity: 1;
    }
}
