@import './_variables';

.article-container{
    width: 100%;
    min-height: 80vh;
    margin-top: 2rem;
    color: $pColor;
    font-family: $ff;
    .nv-2
    {
        width: 90vw;
        margin: 1rem auto;
        border-bottom: 1px solid $borderColor;
        ul{
            width: 100%;
            @include flex($jc:flex-start);
            padding: 1rem 1.5rem;
            gap: 25px;
            li a{
                display: flex;
                align-items: center;
                gap: 5px;
            }
            svg
            {
                background: $primaryColor;
                color: #fff;
                padding: 5px;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 4px;
            }
            .art-name{
                font-size: .85rem;
            }
        }
    }

    .art-title{
        width: 70%;
        min-height: 14rem;
        margin: 0 auto;
        display: flex;
      
        .big-box{
            width: 85%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;   
            h2{
                color: $primaryColor;
                font-size: 2rem;
                text-transform: uppercase;
            }         
            .author 
            {
                width: 100%;
                height: 7rem;
                @include flex($jc:flex-start);
                gap: 10px;
                user-select: none;
                >img{
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    object-fit: contain;
                    margin-right: 15px;
                }
                p{font-weight: bold;}
                span{
                    font-size: .8rem;
                }
            }
        }
        .small-box{
            width: 15%;
            height: 7rem;
            align-self: flex-end;
            margin-bottom: 10px;
            padding-left: 10px ;
            display: flex;
            gap: 15px;
            align-items: center;
            border-left: 1px solid $borderColor;
            font-weight: bold;
            p,svg{font-size: 1.2rem;cursor: pointer;}
        }
    }

    .art-body{
        width: 70%;
        margin: 1rem auto;
        padding: 10px;
        p{
            margin:1rem 0;
            font-size:.9rem;
            line-height: 2rem;

        }img{
            width: 90%;
            margin: 1rem 5%;
            object-fit: contain;
        }
        h1,h2,h3,h4,h5,h6{
            margin: 1rem 0;
            color: #eeeeeebb
        }
        li {
            list-style: none;
            margin: .5rem 0 0 3rem;
            font-size: .9rem;
        }
        
        li::before {
            content: '';
            display: inline-block;
            width: 8px; 
            height: 8px; 
            background-color: $primaryColor;
            border-radius: 50%; 
            margin-right: 0.5rem; 
        }
    }
}