@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
footer {
    width: 80%;
    height: 24rem;
    margin: 2rem auto 0 auto;
    border: 1px solid #222f43;
    font-family: $ff;
    border-radius: 20px;
    background: #131c31;
    @include flex($jc: space-between);

    > div {
        width: 30%;
        height: 100%;
        color: $pColor;
        #logoContainer {
            width: 100%;
            margin: 1rem 0;
            @include flex();
            gap: 5px;
            cursor: pointer;
            > img {
                height: 4rem;
                width: 4rem;
                object-fit: contain;
            }
            > p {
                font-family: "Rammetto One", cursive;
                color: red;
                font-size: 3rem;
                opacity: .85;
                padding: 0;
            }
        }
        h3
        {
            font-size: 2rem;
            padding: 2rem 0 1rem 0;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            font-size: 0.85rem;
            padding: .5rem 1rem;
        }
        a{color:$pColor;}
    }
    .col-1 {
        position: relative;
        user-select: none;
        >span{
            position: absolute;
            bottom: 10px;
            left: 20px;
            font-size: .9rem;
            b{
                color: #00a2fffc;
            }
        }
    }
    .col-2{
        @include flex($jc:flex-start);
        flex-direction: column;
      
        li{
            margin-top: 1.5rem;
            a:hover{
                color: #fff;
            }
        }
    }
    .col-3{
        @include flex($jc:flex-start);
        flex-direction: column;
        
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            >input{
                margin:.5rem 0 ;
                height: 2rem;
                background: transparent;
                border:none ;
                color: #fff;
                border-bottom: 1px solid $pColor;
            }
            >button{
                width: 8rem;
                height: 2.5rem;
                margin-top: 1rem ;
                background: #00a2fffc;
                transition: .5s ease-in-out;
                background: linear-gradient(150deg, rgba(34, 192, 195, 0.931) 0%, rgba(45, 149, 253, 0.931) 100%);
                border-radius: 10px;
                cursor: pointer;
                border: none;
                color: #fff; 
                position: relative;  
                overflow: hidden;             
                &:hover {
                    background: linear-gradient(85deg, rgba(34, 192, 195, 0.985) 0%, rgba(13, 133, 253, 0.983) 100%);
                    transform: scale(1.05);
                }
                >svg{
                    margin-left: 5px;
                }
                &:hover svg{
                    transition: .5s ease-in-out;
                    transform: translateX(10rem);
                }
            }
        }
        
        .s-m-icons{
            align-self: flex-end;
            margin: 1rem;
            > a svg{
                font-size: 1.7rem;
                margin: 0 .5rem;
                transition: .5s ease-in-out;
                &:hover{
                    color: #fff;
                }
            }
        }
    }

}
