@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
nav {
    width: 100vw;
    height: 5.5rem;
    @include flex($jc: space-between);
    padding: 0 10vw;
    color: #949b9b;
    font-family: $ff;
    position: relative;
    border-bottom: 1px solid #7f92b01a;
    #logoContainer {
        width: fit-content;
        height: 100%;
        @include flex();
        gap: 5px;
        cursor: pointer;
        > img {
            height: 3.2rem;
            width: 3.2rem;
            object-fit: contain;
        }
        > p {
            font-family: "Rammetto One", cursive;
            color: red;
            font-size: 1.5rem;
        }
    }
    ul {
        width: fit-content;
        height: 100%;
        @include flex();
        gap: 2vw;
        padding: 0 1vw;
        font-size: 0.9rem;
        > .contact {
            margin-right: 5vw;
        }
        p {
            transition: 0.3s ease-in-out;
            cursor: pointer;
            font-size: 0.85rem;
            color: #7f92b0;
            text-transform: uppercase;
            &:hover {
                color: rgba(7, 128, 249, 0.934);
            }
        }

        button {
            background-color: transparent;
            border: 2px solid rgba(7, 128, 249, 0.934);
            color: rgba(7, 128, 249, 0.934);
            width: 5.5rem;
            height: 2.5rem;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s ease-in-out;
            &:hover {
                color: #fff;
                transform: translateY(-5px);
            }
        }
        .darkModeContainer {
            width: 3.2rem;
            height: 1.5rem;
            border-radius: 20px;
            background-color: #7f92b0;
            display: flex;
            align-items: center;
            transition: 0.4s ease-in-out;
            > div {
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                background-color: rgb(250, 250, 250);
                margin-left: 2px;
                cursor: pointer;
                @include flex();
                transition: 0.4s ease-in-out;
                > span {
                    color: rgba(7, 128, 249, 0.934);
                    font-size: 0.9rem;
                }
            }
        }
    }

    #HamMenuBox {
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
        display: none;
        > div {
            transition: 0.4s ease-in;
            width: 100%;
            height: 5px;
            background-color: rgba(242, 242, 242, 0.934);
        }
    }

    #mobileLinks {
        display: none;
    }
}
.clickedHam {
    div:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    div:nth-child(2) {
        opacity: 0;
    }

    div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

.lightMode {
    background-color: rgb(10, 25, 47) !important;
    > div {
        transform: translateX(26px) !important;
        > span {
            color: gold !important;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        @include flex($jc: space-between);
        padding: 0 5vw;
        ul {
            display: none;
        }
        #HamMenuBox {
            display: flex !important;
            z-index: 4;
        }
        ////////////////////////////////////////////////////////////////
        #mobileLinks {
            display: flex !important;
            width: 50vw;
            height: 100vh;
            border-left: 1px solid rgba(115, 140, 140, 0.372);
            position: absolute;
            right: 0;
            top: 0;
            background: #0A192F;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem 3vw;
            z-index: 3;
            transition: .3s ease-in;
            transform: translateX(100%);
            box-shadow: -5px 1px 14px 1px #ffffff12;

            .mobile-top-box {
                width: 60%;
                height: 4rem;
                position: absolute;
                top: 1rem;
                @include flex($jc: space-between);
                padding: 0 5px;
                button {
                    border: none;
                    color: #fff;
                    width: 5.5rem;
                    height: 2.5rem;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.4s ease-in-out;
                    color: $hColor;
                    background: #00a2fffc;
                    background: linear-gradient(150deg, rgba(34, 192, 195, 0.931) 0%, rgba(45, 149, 253, 0.931) 100%);
                    &:hover {
                        box-shadow: 0px 0px 20px 0px #ffffff2a;
                        transform: translateY(-3px);
                    }
                }
                .darkModeContainer {
                    width: 3.2rem;
                    height: 1.5rem;
                    border-radius: 20px;
                    background-color: #7f92b0;
                    display: flex;
                    align-items: center;
                    transition: 0.4s ease-in-out;
                    > div {
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        background-color: rgb(250, 250, 250);
                        margin-left: 2px;
                        cursor: pointer;
                        @include flex();
                        transition: 0.4s ease-in-out;
                        > span {
                            color:rgba(7, 128, 249, 0.934);;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
           
            li {
                font-size: 1rem;
                cursor: pointer;
                margin: 1rem 1vw;
                font-weight: bold;
                width: 100%;
                border-bottom: 1px solid $pColor;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                }
                &:nth-child(2){
                    margin-top: 8rem;
                }
            }
            .linksFooter {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 4rem;
                width: 100%;
                border-top: 1px solid rgb(115, 140, 140);
                font-size: 0.8rem;
                display: flex;
                align-items: flex-end;
                padding: 10px 2vw;
                flex-wrap: wrap;
                span {
                    font-size: 0.9rem;
                    color: #e81010;
                    padding: 0 1rem 0 5px;
                    margin-right: 2rem;
                }
            }
        }
    }
}
@media screen and (max-width:550px) {
    nav{
        padding: 0 8vw !important;
    }
    #mobileLinks {
        width: 70vw !important;
    }
}
@media screen and (max-width:550px) {
    nav{
        padding: 0 8vw !important;
    #logoContainer {
        >img{
            width: 2.5rem !important;
            height: 2.5rem !important;
        }
        >p{
            font-size: 1.5rem !important;
        }
    }
    }
    #mobileLinks {
        width: 100vw !important;
        padding: 0 6vw !important;

    }
    
}
.activeMobleLinks{
    transform: translateX(0) !important;
}