@import "./_variables";

#sp__box {
    width: 99vw;
    min-height: 85vh;
    position: relative;
    color: $pColor;
    font-family: $ff;
}
.single-project-section {
    width: 70%;
    min-height: 85vh;
    margin: 1rem auto;

    .project-title {
        color: $primaryColor;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 1.5rem 0;
    }
    .project-cover {
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    .description {
        width: 100%;
        min-height: 300px;
        margin: 2rem 0;
        > img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            max-width: 100%;
            clip-path: circle(45%);
            shape-outside: circle(45%);
            shape-margin: 20px;
            float: left;
        }
        p {
            cursor: pointer;
        }
        .links {
            width: 100%;
            height: 3rem;
            margin-top: 2rem;
            @include flex($jc: flex-end);
            padding: 0 2rem;
            a {
                border-radius: 10px;
                color: #fff;
                padding: 0.8rem 1rem;
                font-size: 0.8rem;
                transition: 0.3s ease-in-out;
                margin: 0 1rem 0 0;
            }
            #website {
                background: $primaryColor;
                &:hover {
                    transform: translateY(-5px);
                    background: #02dffc;
                }
            }
            #github {
                background: #165770;
                &:hover {
                    transform: translateY(-5px);
                    background: #0780af;
                }
            }
            button {
                background: #72023a;
                color: #fff;
                border: none;
                padding: 0.9rem 1.2rem;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: translateY(-5px);
                    background: #dd0270;
                }
            }
        }
    }

    .long-desc {
        width: 100%;
        min-height: 15rem;
        h3,
        h4 {
            padding: 1rem;
            font-size: 1.6rem;
            color: #0780af;
        }

        .P-wrapper {
            width: 100%;
            min-height: 15rem;
            margin: 1rem 0;

            @include flex();
            gap: 1rem;
            flex-wrap: wrap;
            padding: 2rem 0;
            >img{
                width: 400px;
                height: 400px;
                filter: blur(1px);
                transition: .3s ease-in;
                opacity: .8;
                &:hover{
                    opacity: 1;
                    filter: blur(0) !important;
                }
            }
        }
    }
}

.gallery-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 150vh;
    background: #00000044;

    .close-gall {
        position: absolute;
        right: 1rem;
        cursor: pointer;
        color: #fff;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {

    .single-project-section {
        width: 95%;

        .project-title {
            font-size: 2.2rem;
        }
        .project-cover {
            height: 25rem;
            object-fit: cover;
        }

        .description {
            margin: 1rem 0;
            > img {
                width: 200px;
                height: 200px;
            }
            p {
                font-size: 1REM;
            }
        }

        .long-desc {

            font-size: .9rem;
            .P-wrapper {
                width: 100%;
                min-height: 15rem;
                margin: 1rem 0;

                @include flex();
                gap: 1rem;
                flex-wrap: wrap;
                padding: 2rem 0;
                >img{
                    width: 48%;
                    height: fit-content;
                }
            }
        }
    }

}
@media screen and (max-width: 425px) {

    .single-project-section {
        width: 96%;

        .project-title {
            font-size: 2rem;
        }
        .project-cover {
            height: fit-content;
            object-fit: contain;
            width: 100% !important;
        }

        .description {
            margin: 1rem 0;
            > img {
                width: 150px;
                height: 150px;
            }
            p {
                font-size: .8REM;
            }
        }

        .long-desc {

            font-size: .9rem;
            .P-wrapper {
                width: 100%;
                min-height: 15rem;
                margin: 1rem 0;

                @include flex();
                gap: 1rem;
                flex-wrap: wrap;
                padding: 0;
                >img{
                    width: 45%;
                    height: fit-content;
                }
            }
        }
    }

}
