@import "./_variables";

#projects-conatiner {
    width: 100%;
    min-height: 100vh;
    border-top: none;
    font-family: $ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    .subs-wrapper {
        width: 90%;
        min-height: 10rem;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid #213146;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 10px 2vw;

        > p {
            color: $pColor;
            font-size: 0.9rem;
        }
        > div {
            width: 90%;
            height: 3.7rem;
            border: 1px solid $borderColor;
            border-radius: 10px;
            display: flex;
            align-items: center;
            background: #55555528;
            margin: 0 auto;
            > input {
                width: 80%;
                height: 100%;
                border: none;
                padding: 0 20px;
                background: transparent;
                color: $hColor;
                font-size: 1rem;
                outline: none;
            }
            > button {
                width: 15%;
                height: 2.8rem;
                margin-left: 1rem;
                border: none;
                font-size: 95%;
                color: $hColor;
                background: #00a2fffc;
                background: linear-gradient(150deg, rgba(34, 192, 195, 0.931) 0%, rgba(45, 149, 253, 0.931) 100%);
                border-radius: 10px;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    background: linear-gradient(85deg, rgba(34, 192, 195, 0.985) 0%, rgba(13, 133, 253, 0.983) 100%);
                    transform: scale(1.01);
                }
            }
        }
    }

    .project-boxes {
        width: 100%;
        min-height: 40vh;
        margin-top: 2rem;
        padding: 0 1vw;
        @include flex();

        flex-wrap: wrap;
        > header {
            width: 100%;
            min-height: 5rem;
            > p {
                padding-bottom: 5px;
                position: relative;
                font-weight: bold;
                font-size: 2.5rem;
                color: #0099ff;
                padding: 0 4vw;
            }
        }
        .project-main-box {
            width: 33rem;
            height: 30rem;
            border: 1px $borderColor solid;
            border-radius: 15px;
            margin: 1rem;
            flex-wrap: wrap;
            padding: 5px 0;
            position: relative;
            transition: .3s ease-in-out;
            &:hover{
                border: 1px #ffffff8f solid;
                i{
                    color: $hColor;

                }
            }
            img {
                width: 95%;
                height: 18rem;
                border-radius: 10px;
                margin: 5px 2.5%;
            }
            > p {
                color: $pColor;
                font-size: 0.8rem;
                margin: 0 1rem;
            }
            > h2 {
                font-size: 1.2rem;
                margin: 10px 1rem;
                transition: 0.3s ease-in-out;
                position: relative;
                a {
                    color: $hColor;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            >h4{
                color: $pColor;
                font-size: 0.9rem;
                margin: 0 1rem 0 1rem;
                font-weight: normal;
            }
            .date_extra-links {
                width: 100%;
                height: 3rem;
                @include flex($jc: space-between);
                padding: 0 20px 0 0;
                p {
                    color: $pColor;
                    font-size: .8rem;
                    margin: 0 1rem;
                }
                i {
                    color: $pColor;
                    margin: 0 5px;
                }
            }
            .full-screen-view {
                position: absolute;
                top: 1rem;
                right: 1.2rem;
                width: 3rem;
                height: 3rem;
                background: $bgColor;
                border-radius: 50%;
                @include flex();
                color: $pColor;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
        }
        .paginate-btn {
            padding: 4rem 0;
            width: 100%;
            @include flex();
            > button {
                width: 12rem;
                height: 3.5rem;
                margin-left: 1rem;
                border: none;
                font-size: 95%;
                color: $hColor;
                background: #00a2fffc;
                background: linear-gradient(150deg, rgba(34, 192, 195, 0.931) 0%, rgba(45, 149, 253, 0.931) 100%);
                border-radius: 100px;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    background: linear-gradient(85deg, rgba(34, 192, 195, 0.985) 0%, rgba(13, 133, 253, 0.983) 100%);
                    transform: scale(1.01);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #projects-conatiner {
        .subs-wrapper {
            width: 95% !important;
            > div {
                width: 95% !important;
                > button {
                    width: 18%;
                    margin-left: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #projects-conatiner {
        .subs-wrapper {
            width: 100% !important;
            border-radius: 0 !important;
            justify-content: space-between;
            padding: 10px 0;
            border-right: none;
            border-left: none;
            border-bottom: none;
            > p {
                padding: 1rem;
            }
            > div {
                width: 100% !important;
                border-radius: 0;
                margin: 0.5rem auto;

                > input {
                    width: 80%;
                }
                > button {
                    width: 20%;
                    height: 100%;
                    border-radius: 0 !important;
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    #projects-conatiner {
        .subs-wrapper {
            > div {
                width: 95% !important;
                height: 3.5rem;
                margin: 1rem auto;
                > input {
                    width: 75%;
                }
                > button {
                    width: 25%;
                    font-size: 2.5vw;
                }
            }
        }
    }
}
@media screen and (max-width: 350px) {
    #projects-conatiner {
        .subs-wrapper {
            > div {
                width: 95% !important;
                height: 3.2rem;
                margin: 1rem auto;
                > input {
                    width: 70%;
                }
                > button {
                    width: 30%;
                    font-size: 3vw;
                }
            }
        }
    }
}
