@import "./_variables";

#my_skills{
    font-family: $ff;
    color: $hColor;
    width: 90%;
    min-height:15rem;
    margin: 1rem auto ;
    padding:0  1rem ;

    >h2{
        font-size: 2.5rem;
        color: #0099ff;
    }

    .bg-box{
        width: 100%;
        min-height:10rem ;
        margin: 1rem 0;
        @include flex();
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0;
        .skill{
            width: 13rem;
            height: 5rem;
            border: 1px solid #222f43;
            border-radius: 15px;
            background: $softBgColor;
            @include flex();
            gap: .5rem;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: translateY(-.5rem);
                z-index: 2;
                box-shadow: 1px 1px 16px 0px rgb(0 242 245 / 21%);
                border: #0099ff 1px solid;
            }

        }
        .Learning{
            width: 64px !important;
            height: 64px !important;
        }
        .p-WooCommerce{
                font-size: .8rem !important;
        }
    }
}