@import './_variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    a{
        color: $pColor;
    }
}

.ReactApp{
    overflow-x: hidden;
}
.loader-container {
    width: 100vw;
    height: 100vh;
    @include flex();
    background-color: #0a192f;
    .writing-animation {
        font-size: 4rem;
        font-weight: bold;
        color: #f8184c;
        overflow: hidden;
        white-space: nowrap;
        font-family: $ff;
        border: 4px solid #f8184c;
        padding: 0 10px;
        span {
            opacity: 0;
            &.visible {
                animation: write 1s forwards;
            }
        }
    }

    .wrapper-animation{
        width: 60vw;
        height: 60vh;
        position: relative;
        img{
            width: 30vw;
            opacity: 0;
            &.visible {
                animation: show 1s forwards;
            }
        }
        #one{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        #two{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        #three{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}
@keyframes write {
    to {
        opacity: 1;
    }
}
